@CHARSET "ISO-8859-1";

html,body,p {
	padding: 0;
	margin: 0;
}

table {
	margin-right: auto;
	margin-left: auto;
}

th {
	border-right-width: 1px;
}

#footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px; /* Height of the footer */
	background: #6cf;
}

h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center
}

a,a:VISITED {
	color: black;
	padding: 5px 10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding: 5px 10px;
}

a:hover,a:focus {
	color: #fff;
	background: #fa0;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0.5, 0.5);
}

caption {
	background-color: rgb(224, 224, 224);
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	min-height: 145px;
	position: relative;
}

#header {
	background: gray;
}

#nav {
	border: 1px solid #ccc;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#nav li {
	display: inline;
}

#nav a {
	display: inline-block;
	padding: 10px;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.errorMessage {
	color: rgb(255, 61, 61);
}
/* Applied for odd rows for display tag */
#pager {
	width: 500px;
	height: 70px;
	margin: 8px auto 0px auto;
	overflow: auto;
}

.data {
	
}

#loading {
	display:block;
	margin-left: 47%;
	margin-right: 53%;
	width:150px;
}